/*estilos.css*/

#first_p {
	color: pink;
}

tr {
	font-size: large
}

a:link,
a:visited {
	color: orange;
}

a:hover {
	color: pink;
}

article {
	background: pink;
}

article p::first-line {
	font-size: 120%;
	font-weight: bold;
}

#form_1>label {
	color: aqua;
}

img+p {
	color: brown;
}
#second_p {
		color: purple
	}

	@media (-webkit-min-device-pixel-ratio: 1.1),
	(min-resolution: 105dpi) {}