/*
Tamaño de fuente
 */
body {
	font-size: 12px;
	background-color:#b4d8f9;
}
li {
	font-size: 14px;
}
/**
 *Margen centrado, borde de un pixel con redondeado, y rellenado
 * a la izquierda y derecha
 */
a:visited {
	color: #063970;
}
#Contenedor {
	width: 400px;
	margin: 10em auto;
	background-color: #68b2f3;
	border: 10px;
	height: 400px;
	border-radius: 15px;
	padding: 30px 9px 30px 9px;
}
#IngressLog {
	width: 300px;
}
#SignUP {
	width: 300px;
}
/**
 * Se aplica al contenedor donde muestra en el pie
 * la opción de olvidaste tu contraseña?
 */
.opcioncontra {
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}

/*
Header @leoacg
 */

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 16px; 
	line-height: 10px;
	border-radius: 4px;
  }
.header a.logo {
	font-size: 25px;
	font-weight: bold;
  }
  .header a:hover {
	background-color: #ddd;
	color: black;
  }
  .header a.active {
	background-color: dodgerblue;
	color: white;
  }
  .header-right {
	float: right;
  }
  

  footer {
	text-align: center;
	padding: 3px;
	background-color: #ddd;
	color: white;
  }